pipeline/pl_ingest_wwi_data.json
{
	"name": "pl_ingest_wwi_data",
	"properties": {
		"activities": [
			{
				"name": "copyData",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "wwi_control_json",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEachSchema",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "copyData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('copyData').output.pipelineReturnValue",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy WWI data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": {
										"type": "Expression",
										"value": "@item().timeLastLoad"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_dynamic_sqldb_source",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": "emmasqlantra.database.windows.net",
										"DatabaseName": "WWI-Standard",
										"tableName": {
											"value": "@item().sourceTableName",
											"type": "Expression"
										},
										"schemaName": {
											"value": "@item().Application",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_dynamic_ADLS_sink",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEachSchema",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-11.westus2.logic.azure.com:443/workflows/3e27e31d5ee84f84afd2e9ceb7c63eed/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=xEl76_sqFoE5qT-h6cgCLEMC-erY1AlBRCreJ56Aujg",
					"body": "\n"
				}
			}
		],
		"annotations": []
	}
}