pipeline/pl_movie_BlobToAdls.json
{
	"name": "pl_movie_BlobToAdls",
	"properties": {
		"activities": [
			{
				"name": "LookupMovie",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "movie_ControlFile",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "loopJSON",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupMovie",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupMovie').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copydata",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "movie_source",
									"type": "DatasetReference",
									"parameters": {
										"sourceContainer": {
											"value": "@pipeline().parameters.sourceContainer",
											"type": "Expression"
										},
										"fileName": {
											"value": "@length(item().files)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "movie_sink",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item()",
											"type": "Expression"
										},
										"containName": {
											"value": "@pipeline().parameters.sinkContainer",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"sinkContainer": {
				"type": "string",
				"defaultValue": "bronze"
			},
			"sourceContainer": {
				"type": "string",
				"defaultValue": "raw"
			}
		},
		"annotations": []
	}
}